<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if updatedScenarios %}Updated - {% endif %}Scenarios - Data Mocks Server</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    {% if updatedScenarios %}
      {% if updatedScenarios.length === 0 %}
        All scenarios removed.
      {% else %}
        Updated to the following scenarios:
        <ul>
          {% for scenario in updatedScenarios %}
            <li>{{scenario}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
    <form class="stack-1" method="POST" action="/">
      <legend><h1>Scenarios</h1></legend>
      <a href="/">Refresh page</a>
      <div>
        {% for group in groups %}
          <h2>{{group.name | capitalize}}</h2>
          <div>
            <input
              type="radio"
              id="none-{{group.name}}"
              name="{{group.name}}"
              value=""
              {% if group.noneChecked %}checked{% endif %}
            />
            <label for="none-{{group.name}}">None</label>
          </div>
          {% for scenario in group.scenarios %}
            <div>
              <input
                type="radio"
                id="{{scenario.name}}"
                name="{{group.name}}"
                value="{{scenario.name}}"
                {% if scenario.checked %}checked{% endif %}
              />
              <label for="{{scenario.name}}">{{scenario.name}}</label>
            </div>
          {% endfor %}
        {% endfor %}
        {% if other.length %}
        <h2>Other</h2>
        {% for scenario in other %}
        <div>
          <input
            type="checkbox"
            id="{{scenario.name}}"
            name="scenarios"
            value="{{scenario.name}}"
            {% if scenario.checked %}checked{% endif %}
          />
          <label for="{{scenario.name}}">{{scenario.name}}</label>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <button type="submit">Modify scenarios</button>
    </form>
  </body>
</html>
