<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if updatedScenarios %}Updated - {% endif %}Scenarios - Data Mocks Server</title>
    <link rel="stylesheet" href="{{uiPath}}index.css" />
  </head>
  <body>
    <main>
      {% if updatedScenarios %}
        {% if updatedScenarios.length === 0 %}
          All scenarios removed.
        {% else %}
          Updated to the following scenarios:
          <ul>
            {% for scenario in updatedScenarios %}
              <li>{{scenario}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
      <form class="stack-1" method="POST" action="{{uiPath}}">
        <legend><h1>Scenarios</h1></legend>
        <p>
          <a href="{{uiPath}}">Refresh page</a>
        </p>
        <div class="stack0">
          {% for group in groups %}
            <fieldset class="stack-3">
              <legend><h2>{{group.name | capitalize}}</h2></legend>
              <div class="stack-3">
                <div>
                  <input
                    type="radio"
                    id="none-{{group.name}}"
                    name="{{group.name}}"
                    value=""
                    {% if group.noneChecked %}checked{% endif %}
                  />
                  <label for="none-{{group.name}}">No "{{group.name}}" scenario</label>
                </div>
                {% for scenario in group.scenarios %}
                  <div>
                    <input
                      type="radio"
                      id="{{scenario.name}}"
                      name="{{group.name}}"
                      value="{{scenario.name}}"
                      {% if scenario.checked %}checked{% endif %}
                    />
                    <label for="{{scenario.name}}">{{scenario.name}}</label>
                  </div>
                {% endfor %}
              </div>
            </fieldset>
          {% endfor %}
          {% if other.length %}
          <fieldset class="stack-3">
            <legend><h2>Other</h2></legend>
            <div class="stack-3">
              {% for scenario in other %}
                <div>
                  <input
                    type="checkbox"
                    id="{{scenario.name}}"
                    name="scenarios"
                    value="{{scenario.name}}"
                    {% if scenario.checked %}checked{% endif %}
                  />
                  <label for="{{scenario.name}}">{{scenario.name}}</label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
          {% endif %}
          <div class="button-group">
            <div>
              <button type="submit" name="button" value="modify">Modify scenarios</button>
              <button type="submit" name="button" value="reset">Reset scenarios</button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
